@media (min-width: 600px) {
            .shakes-grid {
                grid-template-columns: repeat(2, 1fr);
            }
            .blogs-grid {
                grid-template-columns: repeat(2, 1fr);
            }
            .footer-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        /* ------------------------------------ */
        /* MD-TABLET & LANDSCAPE BREAKPOINT     */
        /* ------------------------------------ */
        @media (min-width: 768px) {
            .navbar {
                padding: 1.5rem 3rem;
            }

            .nav-links {
                display: flex;
                gap: 2.2rem;
                font-size: 0.9rem;
                font-weight: 500;
            }

            .hero {
                padding: 6rem 4rem 8rem 4rem;
                text-align: left;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .hero-content {
                max-width: 50%;
            }

            .hero-content .main-title {
                font-size: 4rem;
            }

            .hero-image-container {
                margin-top: 0;
            }

            .hero-circle-img {
                width: 310px;
                height: 310px;
            }

            .categories-grid {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        /* ------------------------------------ */
        /* LG-DESKTOP BREAKPOINT                */
        /* ------------------------------------ */
        @media (min-width: 1024px) {
            .navbar {
                padding: 2rem 6rem;
            }

            .hero {
                padding: 6rem 8rem 10rem 8rem;
            }

            .shakes-grid {
                grid-template-columns: repeat(3, 1fr);
            }

            .blogs-grid {
                grid-template-columns: repeat(3, 1fr);
            }

            .footer-grid {
                grid-template-columns: repeat(4, 1fr);
            }

            .footer-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
            }
        }

        /* ------------------------------------ */
        /* XL-WIDE MONITOR BREAKPOINT           */
        /* ------------------------------------ */
        @media (min-width: 1400px) {
            .navbar, .hero, .categories, .shakes, .blogs, footer {
                padding-left: 12rem;
                padding-right: 12rem;
            }
        }